*, ::after, ::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button, input, optgroup, select, textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input, textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button, ::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl, ol, ul {
  margin: 1em 0;
}

dl dl, dl ol, dl ul, ol dl, ol ol, ol ul, ul dl, ul ol, ul ul {
  margin: 0;
}

b, strong {
  font-weight: bolder;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body, html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*# sourceMappingURL=normalize.min.css.map */
@font-face {
  font-family: "poppinsregular";
  src: url("./../assets/fonts/poppins-regular-webfont.woff2") format("woff2"), url("./../assets/fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
hr {
  border: solid #dadce0;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin-bottom: 19px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

.headline {
  color: #202124;
  margin-bottom: 2em;
  font-size: 1.4em;
  font-weight: lighter;
  line-height: 30px;
}
@media (min-width: 360px) {
  .headline {
    padding-right: 10px;
    font-size: 2em;
  }
}
@media (min-width: 1440px) {
  .headline {
    font-size: 13em;
    background-color: rgb(17, 248, 218);
  }
}

.headline1 {
  color: #5f6368;
  font-weight: lighter;
  word-spacing: 1px;
  font-size: 14px;
  line-height: 22px;
  padding-right: 3px;
  margin-bottom: 3em;
}
@media (min-width: 360px) {
  .headline1 {
    font-size: 14.5px;
  }
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999999;
}
nav .nav-wapper {
  border-bottom: solid 2px #dadce0;
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 64px;
  color: #5f6368;
  z-index: 999;
  background-color: white;
}
nav .nav-wapper button {
  border: none;
  outline: none;
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 5px;
  padding-inline: 12px;
  background-color: white;
}
nav .nav-wapper button:focus {
  background-color: #f8f9fa;
  transition: background ease 200ms;
}
nav .nav-wapper .drive-icon {
  display: flex;
  align-items: center;
  margin-left: 17px;
  font-size: 24px;
  letter-spacing: -1px;
  color: #49494a;
  font-weight: 500;
}
nav .nav-wapper p {
  font-size: 22px;
  margin-left: 5px;
  font-weight: 100;
}

main {
  width: 84%;
  font-family: "poppinsregular";
  margin-inline: auto;
  margin-bottom: 6em;
}
@media (min-width: 1440px) {
  main {
    width: 90%;
  }
}

.hero-content {
  margin-top: 3em;
  color: rgba(18, 18, 20, 0.8901960784);
  font-weight: 100;
  line-height: 40px;
}
.hero-content .hero-heading {
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  color: #202124;
  font-size: 33px;
}
.hero-content .hero-heading::first-letter {
  font-size: 35px;
}
.hero-content .hero-description {
  color: #5f6368;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  word-spacing: 2px;
}
@media (min-width: 360px) {
  .hero-content .hero-description {
    padding-inline: 5px;
    font-size: 14px;
  }
}
.hero-content .hero-btn {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.hero-content .hero-btn a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  border-radius: 5px;
}
.hero-content .hero-btn a:nth-child(1) {
  background-color: #1a73e8;
}
.hero-content .hero-btn a:nth-child(2) {
  color: #1a73e8;
  border: solid 1px #dadce0;
}
.hero-content .no-account {
  color: #5f6368;
  font-size: 15px;
  margin-top: 10px;
}
.hero-content .no-account .hero-dropdown-container {
  position: relative;
}
.hero-content .no-account .hero-dropdown-container .btn {
  border: none;
  outline: none;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-inline: 10px;
  padding-block: 15px;
  border-radius: 5px;
  color: #1a73e8;
  background-color: rgb(255, 255, 255);
  margin-left: 3em;
}
.hero-content .no-account .hero-dropdown-container .btn::first-letter {
  font-size: 17px;
}
.hero-content .no-account .hero-dropdown-container .btn:focus {
  background-color: #f2f6fa;
  outline: solid #1a73e8 2px;
}
.hero-content .no-account .hero-dropdown-container .btn:focus ~ .hero-dropdown-list {
  display: block;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
  background-color: blue;
  padding: 0;
  line-height: 20px;
  width: 85%;
  gap: 24px;
  padding-left: 15px;
  position: absolute;
  padding-inline: 1em;
  top: 38px;
  left: 43px;
  padding-block: 1.5em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(205, 203, 203);
}
.hero-content .no-account .hero-dropdown-container .hero-dropdown-list {
  display: none;
}
.hero-content .no-account .hero-dropdown-container a {
  color: #3c4043;
  font-size: 15px;
}

.section1 {
  margin: 30px 0px 50px 0px;
  overflow: hidden;
}

.feature-cible {
  overflow: hidden;
  text-align: center;
  margin-top: 3em;
  line-height: 25px;
}
.feature-cible span {
  color: #5f6368;
  font-size: 2.5em;
  transform: translateY(-4px);
}
.feature-cible a {
  color: #5f6368;
}

.features {
  margin-top: 3em;
}
.features a {
  color: #1a73e8;
}
.features .headline {
  color: #202124;
  font-size: 1.4em;
  font-weight: lighter;
  line-height: 30px;
}
@media (min-width: 1440px) {
  .features br {
    display: none;
  }
  .features hr {
    display: none;
  }
  .features > div {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin-bottom: 2em;
    border: solid blue 2px;
    grid-template-columns: 40% auto;
    gap: 5em;
  }
  .features > div .img1 {
    border: solid red 1px;
    overflow: hidden;
  }
  .features > div .img1 img {
    width: 100%;
  }
  .features > div > div {
    display: flex;
    flex-direction: column;
  }
  .features .headline {
    font-size: 2.2em;
    line-height: 48px;
    margin-bottom: 10px;
  }
  .features .headline1 {
    font-size: 1em;
  }
}

.teams-working-on {
  padding-top: 0.1em;
  background-color: #f8f9fa;
  padding-bottom: 1.1em;
}
.teams-working-on .heading {
  font-weight: 100;
  font-size: 27px;
  text-align: center;
  padding-inline: 15px;
  color: #202124;
  margin-top: 2em;
}
.teams-working-on .teams-img-container {
  margin-top: 4em;
  width: 70%;
  margin-inline: auto;
  display: grid;
  gap: 20px;
}
.teams-working-on .teams-img-container > * {
  text-align: center;
}
.teams-working-on .teams-img-container div:nth-child(2) img {
  height: 75%;
  width: 65%;
}
.teams-working-on .teams-img-container div:nth-child(3) img {
  height: 95%;
  width: 75%;
}
.teams-working-on .teams-img-container div:nth-child(3n+1) img {
  width: 90%;
}
.teams-working-on .cont {
  width: 93%;
  margin-inline: auto;
  margin-top: 5em;
  box-shadow: 0px 0px 10px 1px rgb(194, 197, 201);
  margin-bottom: 1em;
  overflow: hidden;
}
.teams-working-on .cont .card-wapper {
  width: 100%;
  color: #5f6368;
  display: flex;
  text-align: center;
  font-size: 1.1em;
}
.teams-working-on .cont .card-wapper .img-wapper {
  text-align: center;
  margin-bottom: 1.4em;
}
.teams-working-on .cont .card-wapper .img-wapper img {
  width: 60%;
}
.teams-working-on .cont .card-wapper .card-item {
  flex: 1 0 100%;
  padding-top: 3em;
  padding-inline: 1.2em;
  padding-bottom: 3em;
  background-color: white;
}
.teams-working-on .cont .card-wapper .card-item:nth-child(2) .img-wapper img {
  width: 80%;
}
.teams-working-on .cont .card-wapper a {
  color: #1a73e8;
  font-size: 15px;
}
.teams-working-on .item-target-wapper {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.teams-working-on .item-target-wapper .item {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  padding: 2px;
}
.teams-working-on .item-target-wapper .item .inside {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.teams-working-on .item-target-wapper .active {
  border: 1px solid #1a73e8;
  transition: all 300ms ease-in-out;
}

.alredy-used-it .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 13px;
}
.alredy-used-it .grid .img-wapper {
  border: solid 1px #dadce0;
  border-radius: 3px;
  cursor: pointer;
  background-color: white;
}
.alredy-used-it .grid .img-wapper:hover {
  background-color: white;
  transform: translateY(-10px);
  box-shadow: rgb(184, 181, 181) 0px 0px 15px;
  transition: all ease 200ms;
}
.alredy-used-it .google-suit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.personnal-account .headline {
  text-align: center;
  font-size: 22px;
}
.personnal-account .icon {
  text-align: center;
  margin-bottom: 2em;
}
.personnal-account .icon img {
  width: auto;
}
.personnal-account .headline1 {
  text-align: center;
  font-size: 15px;
}
.personnal-account .link {
  text-align: center;
  margin-bottom: 7em;
}
.personnal-account .link a {
  color: #1a73e8;
}

.section3 {
  font-size: 1.3em;
  margin-top: 4.5em;
  text-align: center;
}
.section3 .hero-btn {
  border: none;
  outline: none;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-inline: 10px;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 1em;
  align-items: center;
}
.section3 .hero-btn a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 16px 26px;
  width: 100%;
  text-align: center;
  font-weight: 400;
  border-radius: 5px;
}
.section3 .hero-btn a:nth-child(1) {
  background-color: #1a73e8;
}
.section3 .hero-btn a:nth-child(2) {
  color: #1a73e8;
  border: solid 1px #dadce0;
}

footer {
  background-color: #f8f9fa;
  padding-top: 1.7em;
  color: #202124;
}
footer .social-media {
  border-bottom: 1px solid #dadce0;
}
footer .social-media .text {
  padding-left: 1.7em;
  font-weight: 600;
}
footer .social-media .text a {
  color: #1a73e8;
  margin-left: 6px;
}
footer .social-media .icons-wrapper {
  padding-left: 2em;
  margin-bottom: 13px;
  display: flex;
  margin-top: 2.4em;
  gap: 1.2em;
  padding-bottom: 2em;
}
footer .social-media .icons-wrapper .icons {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}
footer .link {
  margin-top: 4em;
  padding-inline: 1.7em;
}
footer .link a {
  color: #5f6368;
}
footer .link p {
  font-size: 1.4em;
  margin-bottom: 1em;
}
footer .link li {
  list-style: none;
}
footer .link ul {
  display: grid;
  gap: 30px;
  margin-top: 3em;
}
footer .link ul:nth-of-type(2) a {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .link ul:nth-of-type(2) img {
  width: 20px;
  height: 20px;
}
footer .link select {
  color: #5f6368;
  border: none;
  font-weight: 500;
  background-color: inherit;
  padding: 1em;
  border-radius: 5px;
}
footer .link select:focus {
  background-color: #e8eaed;
  border: solid #dadce0 1px;
}/*# sourceMappingURL=index.css.map */